@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Lato&family=Libre+Baskerville&family=Lobster&family=Mulish:wght@400;700&family=Poppins&family=Roboto:wght@400;500&family=Russo+One&display=swap');
body{
    background-color: coral;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h3{
    font-family: inherit;
    font-size: 2rem;
    text-align: centers;
}

#insert{
    padding: 10px 20px;
    max-width: 400px;
    width: 400px;
    border: 0;
    border-radius: 5px;
}

#insert:focus{
    outline: none;
}

#speed-form{
    position: absolute;
   bottom: 50px;
   left: 50%;
   background-color: rgba(0,0,0,0.2);
   padding: 10px 20px;
   font-size: 1.2rem;
   transform: translateX(-50%);
}

#speed-form #speed{
    font-size: 1.2rem;
    text-align: center;
    border: 0;
}

#speed-form #speed:focus{
    outline: 0;
}